* {
  box-sizing: border-box;
  margin: auto;
  font-family:sans-serif;
}

body {
  background-image: url("https://i.pinimg.com/originals/f8/0b/ac/f80bacc59103278078cd97c906576928.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
}

nav{
  margin-top: 10px;
}

.mail-arrived{
  background-color: white;
  border: 1px solid black;
  }

.mail-arrived div, .mail-arrived input {
  display: inline-block;
  cursor: pointer;
  padding: 5px;

}

.container {
  width: 80%;
  margin: 10%;
}

a{
  text-decoration: none;
  cursor: pointer;
}
.star{
  color: goldenrod;
}

input{
  cursor: pointer;
  padding: 5px;
}
#nav-testo{
  font-size: 30px;
}

.orange_circle {
  padding: 20px;
}

#cerchio{
  display: inline-block;
  background-color: orange;
  border-color: black;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
header{
  border-bottom: 2px solid white;
}

img {
  width: 100px;
  display: inline-block;
  margin-top: 30px;
  cursor: pointer;
}

h1{
  display: inline-block;
  color: white;
  margin-bottom: 10px;
  vertical-align: top;
  margin-top: 40px;
  cursor: pointer;
}

p{
  color: white;
}

.right{
color: grey;
}

.left{
font-weight: bold;
}

.unread div, .unread input{
  display: inline-block;
  cursor: pointer;
  padding: 5px;
}

.unread{
  background-color: lightgray;
  border: 1px solid black;
}
footer{
  margin-top: 10px;
  border-top: 2px solid white;
  color: white;
  text-align: center;
}

#footer-name{
  font-size: 30px;
}

#footer-text{
  cursor: pointer;
  color:darkslategrey;
  margin-top: 10px;
}
